* {
  font-family: "Karla", sans-serif;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  color: #55527c;
}
h1,
h3 {
  color: black;
}
.row {
  width: 100%;
  height: auto;
}
.col-20 {
  width: 20%;
  height: 700px;
  float: left;

  padding: 0 20px;
}
.nav {
  font-size: 16px;
  padding: 0;
  list-style-type: none;
}
nav {
  width: 100%;

  margin: 100px 0 180px 0;
}
nav li {
  padding: 10px 0;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #55527c;
}
nav a:hover {
  color: #a5a6ff;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.social ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.social li {
  float: left;
  margin: 0 10px;
  padding: 5px;
  background: #130f490d;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  font-size: 13px;
  align-items: center;
  justify-content: center;
}
.social li a {
  color: black;
}
.terms {
  font-size: 14px;
}

/*main right column */
.col-80 {
  width: 80%;
  height: 700px;
  float: left;
}
.col-50 {
  width: 50%;
  height: 700px;
  float: left;
}
.col-50 img {
  width: 80%;
}
.col-flex {
  display: flex;
  align-items: center;
  padding-left: 25px;
}
.second-col-bg {
  background-color: #effbf8;
}
.text-center {
  text-align: center;
}
.logo {
  border: 2px solid green;
  border-radius: 61px;
  width: 30%;
  margin-top: 20px;
}
.col-80 {
  width: 80%;
  height: 700px;
  float: left;
}
.padl-100 {
  padding: 120px 0px 0px 100px;
}
.intro {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -1px;
  margin-bottom: 0;
}
.intro .name {
  color: #a5a6ff;
}
.md,
.mi {
  font-size: 13px;
  border: 1px solid #130f49;
  padding: 15px 30px;
  border-radius: 5px;
}
.md {
  margin-right: 4px;
  background-color: #130f49;
}
.md a {
  color: white;
}
.mi a {
  color: #55527c;
}
.mi {
  background-color: #effbf8;
  margin-top: 8px;
}
.contact {
  margin-top: 50px;
  border-left: 5px solid #ff972d;
  padding-left: 8px;
}

.animate::before {
  content: "";
  animation: animate infinite 5s;
  padding-left: 10px;
}
.m-0 {
  margin: 0;
}

@keyframes animate {
  10% {
    content: "Director";
  }

  55% {
    content: "Coder";
  }

  100% {
    content: "Developer";
  }
}
